<div>
    {{#each products}}
    <div>
        <p>"id": {{this.id}}</p>
        <p>"title": {{this.title}}</p>
        <p>"description": {{this.description}},</p>
        <p>"price": {{this.price}}</p>
        <p>"thumbnail":{{this.thumbnail}} </p>
        <p>"code": {{this.code}} </p>
        <p>"stock": {{this.stock}} </p>
    </div>
</div>

<script src="./realTimeProducts.js"></script>